*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
}
.box{
	text-align: center;
}
.btn{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	border: 1px solid #eaeaea;
	background:#fff;
	padding: 0 10px;
	margin-right: 50px;
	color: #333;
	text-decoration: none;
}
.btn:hover {
	background-color: #fff;
}
.loading{
	position: fixed;
	background-color: #fff;
	height: 100%;
	width: 100%;
	font-size: 30px;
	text-align: center;
	top: 0;
	left: 0;
}
.progress{
	margin-top: 300px;
}